@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: black;
}

.main_admin_display{
    width: 100vw;
    height: 100vh;
    padding: 0.7rem;
    display: flex;
    /* gap: 0.5rem; */
}

.sidebar{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #131213;
    padding: 2rem;
    border-radius: 1rem;
}

.sidebar_options{
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(30,215,96);
    color: black;
    padding: 0.5rem 1rem;
    /* border: 0.2rem solid white; */
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 1000;
    text-decoration: none;
}

.logo{
    width: 14rem;
    margin-bottom: 2rem;
}

.list_icons{
    width: 1.7rem;
}

.display{
    width: 75%;
}

.spotify_data_display{
    width: 75%;
    background-color: #131213;
    border-radius: 1rem;
    margin-left: 0.7rem;
}

.navbar{
    color: white;
    margin: 1rem;
    padding: 1rem 2rem;
    border-bottom: 0.3rem solid rgb(30,215,96);

}

.add_song_form_container{
    color: white;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.uploads{
    display: flex;
    gap: 2rem;
}

.upload_song{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.5rem;
}

.song_upload_img{
    width: 8rem;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input_song{
    width: 60%;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
}

.input_song:focus{
    outline: 2.3px solid rgb(30,215,96);
}

.song_album_select{
    margin-top: 1rem;
    height: 2rem;
    width: 7rem;
}

.submit_song{
    height: 2.2rem;
    background-color: rgb(30,215,96);
    width: 60%;
    border: none;
    border-radius: 2rem;
}