@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

/* Sidebar Styling */
.app{
  font-family: "Inter", sans-serif;
  height: 100vh;
  padding: 0.5rem;
}

.components{
  display: flex;
  height: 90%;
}

.Sidebar{
  width: 25%;
  border: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(223, 222, 222);
}

.home{
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #131213;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.home:hover{
  transition-duration: 0.5s;
  color: white;
}

.home_icon, .stack_icon{
  width: 1.5rem;
  color: white;
}

.libraries{
  padding: 0.6rem;
  height: 100%;
  /* margin: 0 0.5rem; */
  border-radius: 0.5rem;
  background-color: #131213;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.lib_top_panel {
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.playlist{
  width: 1rem;
  border-radius: 50%;
  margin: 0.7rem;
  cursor: pointer;
}

.playlist:hover{
  background-color: #262626;
}

.playlist_section{
  background-color: #1c1c1c;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.text_items{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.playlist_section p{
  font-size: small;
}

.playlist_section button{
  border: none;
  border-radius: 1.1rem;
  padding: 0.6rem 1rem ;
  font-weight: bold;
  cursor: pointer;
}




/* Player Styling */

.player{
  height: 10%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0.5rem; */
}

.song_details{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.song_image{
  margin-left: 0.5rem;
  width: 3.5rem;
  border-radius: 0.2rem;
}

.song_desc{
  color: #ABABAB;
  font-size: small;
}

.player_controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.btns, .song_options{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn_icons{
  cursor: pointer;
  width: 1.1rem;
}

.progress_bar{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
}

.progress{
  width: 30vw;
  background-color: white;
  height: 0.3rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.seek_progress_bar{
  border: none;
  width: 0%;
  height: 100%;
  background-color: #1DB954;
  cursor: pointer;
}

.volume_bar{
  background-color: white;
  width: 6rem;
  height: 0.3rem;
  border-radius: 2rem;
  cursor: pointer;
}






/* Main Display Styles */

.main_display{
  width: 75vw;
  height: 100%;
  background-color: #131213;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.nav_icons{
  display: flex;
  gap: 0.3rem;
}

.nav_btns{
  width: 2.1rem;
  padding: 0.5rem;
  background-color: rgb(0 0 0 / 60%);
  border-radius: 50%;
  cursor: pointer;
}

.search_bar{
  background-color: #1c1c1c;
  display: flex;
  gap: 0.8rem;
  padding: 0.5rem;
  width: 45%;
  border-radius: 0.5rem;
}


.search_icon{
  width: 1.5rem;
}

.search_input{
  background-color: #1c1c1c;
  width: 100%;
  border: none;
  color: white;
  font-size: 1rem;
}

.search_input:focus{
  outline: none;
}

.account_options{
  background-color: rgb(0 0 0 / 60%);
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.account_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.navbar_options{
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}

.navbar_options p{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.all_suggestions{
  background-color: white;
  width: 2.5rem;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
}

.music, .podcast{
  color: white;
  border-radius: 1rem;
  padding: 0.4rem 0.7rem;
  background-color: hsl(0deg 0% 100% / 10%);
}